#bog-header {
    text-align: center;
    font-size: 64px;
    color: black;
    font-style: bold;
    font-family: "Inter", 'Times New Roman';
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#left-col-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 20%;
    font-family: "Inter", 'Times New Roman';
    gap: 20px;

    #pokemon-img {
        border: 4px;
        border-style: solid;
        height: 463px;
    }

    #pokemon-name {
        font-size: 36px;
        color: black;
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        height: 67px;
        background-color: #E8E8E8;
    }

    #types-container {
        align-items: flex-start;
        h6 {
            font-style: bold;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        #button-type {
            background-color: #A8A77A;
            border-radius: 10px;
            height: 41px;
            font-size: 24px;
            margin-top: .5em;
        }
    }

    #arrow-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .arrow-btn {
            height: 69px;
            background-color: #E8E8E8;
            padding: 0 2rem;
            border: none;
            border-radius: 10px;
            &:hover {
                cursor: pointer;
                opacity: 75%;
            }

            .arrow {
                height: 61px;
                align-items: center;
            }
        }
    }
}

#right-col-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: "Inter", 'Times New Roman';
    align-items: center;
    
    #info {
        font-style: bold;
        font-size: 36px;
        margin: 0;
    }

    #info-box {
        height: 30rem;
        background-color: #E8E8E8;

        p {
            font-size: 36px;
            font-weight: 400;
            align-items: flex-start;
            margin: 0;
        }
    }

    #info-moves-btns-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;

        #info-btn {
            background-color: #7cff79;
            border: none;
            height: 69px;
            border-radius: 10px;
            font-size: 36px;
        }

        #moves-btn {
            background-color: #E8E8E8;
            border: none;
            height: 69px;
            border-radius: 10px;
            font-size: 36px;
        }
    }
}